@import "./base.css";

.flashcard__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr auto min-content 1fr;
}

.flashcard__content hr {
  color: var(--color-primary);
  opacity: 20%;
  width: 90%;
}

.confidence__buttons {
  display: flex;
  justify-content: space-evenly;
}

.confidence__header {
  text-align: center;
}

.confidence__buttons .button {
  border: none;
  border-radius: 50%;
  color: var(--color-text-on-confidence);
  cursor: pointer;
  font-size: var(--base-size);
  height: 4rem;
  width: 4rem;
}

.button--confidence-level-1 {
  background-color: var(--confidence-level-1);
}

.button--confidence-level-2 {
  background-color: var(--confidence-level-2);
}

.button--confidence-level-3 {
  background-color: var(--confidence-level-3);
}

.button--confidence-level-4 {
  background-color: var(--confidence-level-4);
}

.button--confidence-level-5 {
  background-color: var(--confidence-level-5);
}

@media (min-width: 800px) {
  .confidence__buttons .button {
    font-size: var(--h5);
    height: 5rem;
    width: 5rem;
  }
}
