@import "./base.css";

.flashcard__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.button {
  background-color: var(--confidence-level-1);
  border-radius: 50px;
  border: none;
  color: var(--color-text-on-confidence);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  width: 100%;
}
