@import "./base.css";

.flashcard__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
}

.button {
  background-color: var(--confidence-level-unknown);
  border-radius: 50px;
  border: none;
  color: var(--color-text-on-confidence);
  cursor: pointer;
  font-size: var(--h5);
  padding: 1rem 0;
  width: 100%;
}

@media (min-width: 800px) {
  .button {
    font-size: var(--h4);
    padding: 1.5rem 0;
  }
}
